# Flutter/Dart/Pub
.dart_tool/
.packages
build/
.pub-cache/
.pub/
/build/

# Windows build files
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/cmake_install.cmake
**/windows/flutter/CMakeCache.txt
**/windows/flutter/CMakeFiles/
**/windows/flutter/DartConfiguration.tcl
**/windows/flutter/Makefile
**/windows/flutter/flutter_assemble.vcxproj
**/windows/flutter/flutter_assemble.vcxproj.filters
**/windows/flutter/flutter_wrapper_app.vcxproj
**/windows/flutter/flutter_wrapper_app.vcxproj.filters
**/windows/flutter/flutter_wrapper_plugin.vcxproj
**/windows/flutter/flutter_wrapper_plugin.vcxproj.filters
**/windows/x64/

# IDE and Editor files
.idea/
.vscode/
*.swp
*.iml
*.iws

# Environment variables
.env

# Inno Setup output folder
installer/
